<a href="https://colab.research.google.com/github/Neel7317/Feature_selection/blob/main/Dropping_the_Constant_feature.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Feature Selection- Dropping constant featuresÂ¶
In this step we will be removing the features which have constant features which are actually not important for solving the problem statement

In [ ]:
# Make DataFrame of the given data 
data = pd.DataFrame({"A":[1,2,4,1,2,4], 
                    "B":[4,5,6,7,8,9], 
                    "C":[0,0,0,0,0,0],
                    "D":[1,1,1,1,1,1]})

In [ ]:
data

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1
5  4  9  0  1


**Variance Threshold**

Feature selector that removes all low-variance features.

This feature selection algorithm looks only at the features (X), not the desired outputs (y), and can thus be used for unsupervised learning.

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
vt=VarianceThreshold(threshold=0)

In [ ]:
vt.fit(data)

VarianceThreshold(threshold=0)

In [ ]:
vt.get_support()

array([ True,  True, False, False])

In [ ]:
data.columns[vt.get_support()]

Index(['A', 'B'], dtype='object')

In [ ]:

constant_columns = [column for column in data.columns
                    if column not in data.columns[vt.get_support()]]

print(len(constant_columns))

2

In [ ]:
data.drop(constant_columns,axis=1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8
5  4  9